@import './grid/grid.styl'

body {
  margin 0;
  padding 0
  font-family: 'Roboto';
  font-size 14px
}

.grid,
[class^="grid"] {
  outline 1px solid black
}

h1,
h2 {
  margin 0
  padding 0
  font-family: 'Julius Sans One', sans-serif;
}

img
  max-width: 100%
  display block

.v-align-test
  height: 100px
  background-color #eee

.v-align-test > div
  background-color #ccc